<nav class="navbar bg-dark  navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">HourlyLog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Página Inicial</a>
        <a class="nav-link" [routerLink]="['/Colaboradores/visualizar-colaboradores']">Visualizar colaboradores</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Registro de ponto
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/Registrodeponto/registrarponto']">Registrar ponto</a></li>
            <li><a class="dropdown-item" [routerLink]="['/Registrosdeponto/visualizarregistros']">Listar Registros</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
